openapi: 3.0.0
info:
  title: Portkey Analytics > Graphs Secret-References API
  description: The Portkey REST API. Please see https://portkey.ai/docs/api-reference for more details.
  version: 2.0.0
  termsOfService: https://portkey.ai/terms
  contact:
    name: Portkey Developer Forum
    url: https://portkey.wiki/community
  license:
    name: MIT
    url: https://github.com/Portkey-AI/portkey-openapi/blob/master/LICENSE
servers:
- url: https://api.portkey.ai/v1
  description: Portkey API Public Endpoint
security:
- Portkey-Key: []
tags:
- name: Secret-References
  description: Create, List, Retrieve, Update, and Delete secret references to external secret managers.
paths:
  /secret-references:
    servers:
    - url: https://api.portkey.ai/v1
      description: Portkey API Public Endpoint
    - url: SELF_HOSTED_CONTROL_PLANE_URL
      description: Self-Hosted Control Plane URL
    get:
      operationId: listSecretReferences
      summary: List All Secret References
      tags:
      - Secret-References
      parameters:
      - in: query
        name: manager_type
        schema:
          type: string
          enum:
          - aws_sm
          - azure_kv
          - hashicorp_vault
        description: Filter by secret manager type
      - in: query
        name: tags
        schema:
          type: string
        description: JSON-encoded object for tag filtering
      - in: query
        name: search
        schema:
          type: string
          minLength: 1
          maxLength: 255
        description: Search by name
      - in: query
        name: current_page
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Page index (0-based), defaults to 0
      - in: query
        name: page_size
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Items per page (1-100), defaults to 20
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                    - list
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecretReferenceListItem'
      security:
      - Portkey-Key: []
      x-code-samples:
      - lang: curl
        label: Default
        source: 'curl -X GET "https://api.portkey.ai/v1/secret-references?current_page=0&page_size=20" \

          -H "x-portkey-api-key: PORTKEY_API_KEY"

          '
      - lang: curl
        label: Self-Hosted
        source: 'curl -X GET "SELF_HOSTED_CONTROL_PLANE_URL/secret-references?current_page=0&page_size=20" \

          -H "x-portkey-api-key: PORTKEY_API_KEY"

          '
    post:
      operationId: createSecretReference
      summary: Create a Secret Reference
      tags:
      - Secret-References
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretReferenceRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  slug:
                    type: string
                  object:
                    type: string
                    enum:
                    - secret-reference
        '400':
          description: Validation failure (schema, duplicate slug, invalid workspaces, conflicting allow_all_workspaces + allowed_workspaces)
        '403':
          description: secretReferences feature not enabled on subscription
      security:
      - Portkey-Key: []
      x-code-samples:
      - lang: curl
        label: Default
        source: "curl -X POST https://api.portkey.ai/v1/secret-references \\\n-H \"x-portkey-api-key: PORTKEY_API_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n    \"name\": \"my-aws-secret\",\n    \"manager_type\": \"aws_sm\",\n    \"auth_config\": {\n        \"aws_auth_type\": \"accessKey\",\n        \"aws_access_key_id\": \"AKIA...\",\n        \"aws_secret_access_key\": \"wJal...\",\n        \"aws_region\": \"us-east-1\"\n    },\n    \"secret_path\": \"prod/api-keys/openai\"\n}'\n"
      - lang: curl
        label: Self-Hosted
        source: "curl -X POST SELF_HOSTED_CONTROL_PLANE_URL/secret-references \\\n-H \"x-portkey-api-key: PORTKEY_API_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n    \"name\": \"my-aws-secret\",\n    \"manager_type\": \"aws_sm\",\n    \"auth_config\": {\n        \"aws_auth_type\": \"accessKey\",\n        \"aws_access_key_id\": \"AKIA...\",\n        \"aws_secret_access_key\": \"wJal...\",\n        \"aws_region\": \"us-east-1\"\n    },\n    \"secret_path\": \"prod/api-keys/openai\"\n}'\n"
  /secret-references/{secretReferenceId}:
    servers:
    - url: https://api.portkey.ai/v1
      description: Portkey API Public Endpoint
    - url: SELF_HOSTED_CONTROL_PLANE_URL
      description: Self-Hosted Control Plane URL
    get:
      operationId: getSecretReference
      summary: Get a Secret Reference
      tags:
      - Secret-References
      parameters:
      - in: path
        name: secretReferenceId
        required: true
        schema:
          type: string
        description: UUID or slug of the secret reference
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretReferenceDetailResponse'
        '404':
          description: Secret reference not found
      security:
      - Portkey-Key: []
      x-code-samples:
      - lang: curl
        label: Default
        source: 'curl -X GET https://api.portkey.ai/v1/secret-references/SECRET_REFERENCE_ID \

          -H "x-portkey-api-key: PORTKEY_API_KEY"

          '
      - lang: curl
        label: Self-Hosted
        source: 'curl -X GET SELF_HOSTED_CONTROL_PLANE_URL/secret-references/SECRET_REFERENCE_ID \

          -H "x-portkey-api-key: PORTKEY_API_KEY"

          '
    put:
      operationId: updateSecretReference
      summary: Update a Secret Reference
      tags:
      - Secret-References
      parameters:
      - in: path
        name: secretReferenceId
        required: true
        schema:
          type: string
        description: UUID or slug of the secret reference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretReferenceRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Validation failure or no valid fields to update
        '404':
          description: Secret reference not found
      security:
      - Portkey-Key: []
      x-code-samples:
      - lang: curl
        label: Default
        source: "curl -X PUT https://api.portkey.ai/v1/secret-references/SECRET_REFERENCE_ID \\\n-H \"x-portkey-api-key: PORTKEY_API_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n    \"name\": \"updated-secret-name\",\n    \"secret_path\": \"prod/api-keys/updated\"\n}'\n"
      - lang: curl
        label: Self-Hosted
        source: "curl -X PUT SELF_HOSTED_CONTROL_PLANE_URL/secret-references/SECRET_REFERENCE_ID \\\n-H \"x-portkey-api-key: PORTKEY_API_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n    \"name\": \"updated-secret-name\",\n    \"secret_path\": \"prod/api-keys/updated\"\n}'\n"
    delete:
      operationId: deleteSecretReference
      summary: Delete a Secret Reference
      tags:
      - Secret-References
      parameters:
      - in: path
        name: secretReferenceId
        required: true
        schema:
          type: string
        description: UUID or slug of the secret reference
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Secret reference is in use by integrations or virtual keys
        '404':
          description: Secret reference not found
      security:
      - Portkey-Key: []
      x-code-samples:
      - lang: curl
        label: Default
        source: 'curl -X DELETE https://api.portkey.ai/v1/secret-references/SECRET_REFERENCE_ID \

          -H "x-portkey-api-key: PORTKEY_API_KEY"

          '
      - lang: curl
        label: Self-Hosted
        source: 'curl -X DELETE SELF_HOSTED_CONTROL_PLANE_URL/secret-references/SECRET_REFERENCE_ID \

          -H "x-portkey-api-key: PORTKEY_API_KEY"

          '
components:
  schemas:
    AzureEntraAuthConfig:
      type: object
      required:
      - azure_auth_mode
      - azure_entra_tenant_id
      - azure_entra_client_id
      - azure_entra_client_secret
      - azure_vault_url
      properties:
        azure_auth_mode:
          type: string
          enum:
          - entra
        azure_entra_tenant_id:
          type: string
        azure_entra_client_id:
          type: string
        azure_entra_client_secret:
          type: string
        azure_vault_url:
          type: string
          format: uri
    AzureDefaultAuthConfig:
      type: object
      required:
      - azure_auth_mode
      - azure_vault_url
      properties:
        azure_auth_mode:
          type: string
          enum:
          - default
        azure_vault_url:
          type: string
          format: uri
    AzureManagedAuthConfig:
      type: object
      required:
      - azure_auth_mode
      - azure_vault_url
      properties:
        azure_auth_mode:
          type: string
          enum:
          - managed
        azure_managed_client_id:
          type: string
        azure_vault_url:
          type: string
          format: uri
    UpdateSecretReferenceRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1024
          nullable: true
        auth_config:
          type: object
          description: Merged with existing config, validated against existing manager_type
        secret_path:
          type: string
          maxLength: 1024
        secret_key:
          type: string
          maxLength: 255
          nullable: true
        allow_all_workspaces:
          type: boolean
          description: When true, all workspace-specific mappings are purged
        allowed_workspaces:
          type: array
          items:
            type: string
          minItems: 1
          description: Replaces existing workspace mappings. Automatically sets allow_all_workspaces to false.
        tags:
          type: object
          additionalProperties:
            type: string
          nullable: true
    SecretReferenceDetailResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organisation_id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        manager_type:
          type: string
          enum:
          - aws_sm
          - azure_kv
          - hashicorp_vault
        secret_path:
          type: string
        secret_key:
          type: string
          nullable: true
        allow_all_workspaces:
          type: boolean
        tags:
          type: object
          additionalProperties:
            type: string
          nullable: true
        status:
          type: string
          enum:
          - ACTIVE
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        last_updated_at:
          type: string
          format: date-time
        auth_config:
          type: object
          description: Sensitive fields are masked for non-system users
        object:
          type: string
          enum:
          - secret-reference
    SecretReferenceListItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        manager_type:
          type: string
          enum:
          - aws_sm
          - azure_kv
          - hashicorp_vault
        status:
          type: string
          enum:
          - ACTIVE
        created_at:
          type: string
          format: date-time
        last_updated_at:
          type: string
          format: date-time
        object:
          type: string
          enum:
          - secret-reference
    CreateSecretReferenceRequest:
      type: object
      required:
      - name
      - manager_type
      - auth_config
      - secret_path
      properties:
        organisation_id:
          type: string
          format: uuid
          description: Required if not using API key auth
        name:
          type: string
          minLength: 1
          maxLength: 255
        slug:
          type: string
          pattern: ^[a-zA-Z0-9_-]+$
          maxLength: 255
          description: Auto-generated from name if omitted
        description:
          type: string
          maxLength: 1024
          nullable: true
        manager_type:
          type: string
          enum:
          - aws_sm
          - azure_kv
          - hashicorp_vault
        auth_config:
          oneOf:
          - $ref: '#/components/schemas/AwsAccessKeyAuthConfig'
          - $ref: '#/components/schemas/AwsAssumedRoleAuthConfig'
          - $ref: '#/components/schemas/AwsServiceRoleAuthConfig'
          - $ref: '#/components/schemas/AzureEntraAuthConfig'
          - $ref: '#/components/schemas/AzureManagedAuthConfig'
          - $ref: '#/components/schemas/AzureDefaultAuthConfig'
          - $ref: '#/components/schemas/HashicorpTokenAuthConfig'
          - $ref: '#/components/schemas/HashicorpAppRoleAuthConfig'
          - $ref: '#/components/schemas/HashicorpKubernetesAuthConfig'
          discriminator:
            propertyName: aws_auth_type
        secret_path:
          type: string
          maxLength: 1024
        secret_key:
          type: string
          maxLength: 255
          nullable: true
        allow_all_workspaces:
          type: boolean
          default: true
          description: Cannot be true when allowed_workspaces is provided
        allowed_workspaces:
          type: array
          items:
            type: string
          minItems: 1
          description: Array of workspace UUIDs or slugs. Mutually exclusive with allow_all_workspaces=true.
        tags:
          type: object
          additionalProperties:
            type: string
          nullable: true
    HashicorpAppRoleAuthConfig:
      type: object
      required:
      - vault_auth_type
      - vault_addr
      - vault_role_id
      - vault_secret_id
      properties:
        vault_auth_type:
          type: string
          enum:
          - approle
        vault_addr:
          type: string
          format: uri
        vault_role_id:
          type: string
        vault_secret_id:
          type: string
        vault_namespace:
          type: string
    HashicorpKubernetesAuthConfig:
      type: object
      required:
      - vault_auth_type
      - vault_addr
      - vault_role
      properties:
        vault_auth_type:
          type: string
          enum:
          - kubernetes
        vault_addr:
          type: string
          format: uri
        vault_role:
          type: string
        vault_namespace:
          type: string
    HashicorpTokenAuthConfig:
      type: object
      required:
      - vault_auth_type
      - vault_addr
      - vault_token
      properties:
        vault_auth_type:
          type: string
          enum:
          - token
        vault_addr:
          type: string
          format: uri
        vault_token:
          type: string
        vault_namespace:
          type: string
    AwsAssumedRoleAuthConfig:
      type: object
      required:
      - aws_auth_type
      - aws_role_arn
      - aws_region
      properties:
        aws_auth_type:
          type: string
          enum:
          - assumedRole
        aws_role_arn:
          type: string
        aws_external_id:
          type: string
          nullable: true
        aws_region:
          type: string
    AwsAccessKeyAuthConfig:
      type: object
      required:
      - aws_auth_type
      - aws_access_key_id
      - aws_secret_access_key
      - aws_region
      properties:
        aws_auth_type:
          type: string
          enum:
          - accessKey
        aws_access_key_id:
          type: string
        aws_secret_access_key:
          type: string
        aws_region:
          type: string
    AwsServiceRoleAuthConfig:
      type: object
      required:
      - aws_auth_type
      properties:
        aws_auth_type:
          type: string
          enum:
          - serviceRole
        aws_region:
          type: string
  securitySchemes:
    Portkey-Key:
      type: apiKey
      in: header
      name: x-portkey-api-key
    Virtual-Key:
      type: apiKey
      in: header
      name: x-portkey-virtual-key
    Provider-Auth:
      type: http
      scheme: bearer
    Provider-Name:
      type: apiKey
      in: header
      name: x-portkey-provider
    Config:
      type: apiKey
      in: header
      name: x-portkey-config
    Custom-Host:
      type: apiKey
      in: header
      name: x-portkey-custom-host
x-server-groups:
  ControlPlaneServers:
  - url: https://api.portkey.ai/v1
    description: Portkey API Public Endpoint
  - url: SELF_HOSTED_CONTROL_PLANE_URL
    description: Self-Hosted Control Plane URL
  DataPlaneServers:
  - url: https://api.portkey.ai/v1
    description: Portkey API Public Endpoint
  - url: SELF_HOSTED_GATEWAY_URL
    description: Self-Hosted Gateway URL
  PublicServers:
  - url: https://api.portkey.ai
    description: Portkey Public API (no auth required)
x-mint:
  mcp:
    enabled: true
    name: Portkey MCP
    description: Official MCP Server for Portkey Docs & APIs
x-code-samples:
  navigationGroups:
  - id: endpoints
    title: Endpoints
  - id: assistants
    title: Assistants
  - id: legacy
    title: Legacy
  groups:
  - id: audio
    title: Audio
    description: 'Learn how to turn audio into text or text into audio.


      Related guide: [Speech to text](https://platform.openai.com/docs/guides/speech-to-text)

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: createSpeech
      path: createSpeech
    - type: endpoint
      key: createTranscription
      path: createTranscription
    - type: endpoint
      key: createTranslation
      path: createTranslation
    - type: object
      key: CreateTranscriptionResponseJson
      path: json-object
    - type: object
      key: CreateTranscriptionResponseVerboseJson
      path: verbose-json-object
  - id: chat
    title: Chat
    description: 'Given a list of messages comprising a conversation, the model will return a response.


      Related guide: [Chat Completions](https://platform.openai.com/docs/guides/text-generation)

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: createChatCompletion
      path: create
    - type: object
      key: CreateChatCompletionResponse
      path: object
    - type: object
      key: CreateChatCompletionStreamResponse
      path: streaming
  - id: realtime
    title: Realtime
    description: 'WebSocket proxy for provider Realtime APIs (`GET` upgrade). Use `wss://` with the same `/v1` data-plane base as other gateway routes.


      Related guide: [OpenAI Realtime API](https://platform.openai.com/docs/guides/realtime)

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: connectRealtime
      path: connect
  - id: embeddings
    title: Embeddings
    description: 'Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms.


      Related guide: [Embeddings](https://platform.openai.com/docs/guides/embeddings)

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: createEmbedding
      path: create
    - type: object
      key: Embedding
      path: object
  - id: rerank
    title: Rerank
    description: 'Rerank a list of documents based on their relevance to a query. Reranking improves search results by scoring documents based on semantic relevance rather than keyword matching.


      Supported providers: Cohere, Voyage, Jina, Pinecone, Bedrock, Azure AI.

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: createRerank
      path: create
    - type: object
      key: CreateRerankResponse
      path: object
  - id: fine-tuning
    title: Fine-tuning
    description: 'Manage fine-tuning jobs to tailor a model to your specific training data.


      Related guide: [Fine-tune models](https://platform.openai.com/docs/guides/fine-tuning)

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: createFineTuningJob
      path: create
    - type: endpoint
      key: listPaginatedFineTuningJobs
      path: list
    - type: endpoint
      key: listFineTuningEvents
      path: list-events
    - type: endpoint
      key: listFineTuningJobCheckpoints
      path: list-checkpoints
    - type: endpoint
      key: retrieveFineTuningJob
      path: retrieve
    - type: endpoint
      key: cancelFineTuningJob
      path: cancel
    - type: object
      key: FinetuneChatRequestInput
      path: chat-input
    - type: object
      key: FinetuneCompletionRequestInput
      path: completions-input
    - type: object
      key: FineTuningJob
      path: object
    - type: object
      key: FineTuningJobEvent
      path: event-object
    - type: object
      key: FineTuningJobCheckpoint
      path: checkpoint-object
  - id: batch
    title: Batch
    description: 'Create large batches of API requests for asynchronous processing. The Batch API returns completions within 24 hours for a 50% discount.


      Related guide: [Batch](https://platform.openai.com/docs/guides/batch)

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: createBatch
      path: create
    - type: endpoint
      key: retrieveBatch
      path: retrieve
    - type: endpoint
      key: cancelBatch
      path: cancel
    - type: endpoint
      key: listBatches
      path: list
    - type: object
      key: Batch
      path: object
    - type: object
      key: BatchRequestInput
      path: request-input
    - type: object
      key: BatchRequestOutput
      path: request-output
  - id: files
    title: Files
    description: 'Files are used to upload documents that can be used with features like [Assistants](https://platform.openai.com/docs/api-reference/assistants), [Fine-tuning](https://platform.openai.com/docs/api-reference/fine-tuning), and [Batch API](https://platform.openai.com/docs/guides/batch).

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: createFile
      path: create
    - type: endpoint
      key: listFiles
      path: list
    - type: endpoint
      key: retrieveFile
      path: retrieve
    - type: endpoint
      key: deleteFile
      path: delete
    - type: endpoint
      key: downloadFile
      path: retrieve-contents
    - type: object
      key: OpenAIFile
      path: object
  - id: images
    title: Images
    description: 'Given a prompt and/or an input image, the model will generate a new image.


      Related guide: [Image generation](https://platform.openai.com/docs/guides/images)

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: createImage
      path: create
    - type: endpoint
      key: createImageEdit
      path: createEdit
    - type: endpoint
      key: createImageVariation
      path: createVariation
    - type: object
      key: Image
      path: object
  - id: models
    title: Models
    description: 'List and describe the various models available in the API. You can refer to the [Models](https://platform.openai.com/docs/models) documentation to understand what models are available and the differences between them.

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: listModels
      path: list
    - type: endpoint
      key: retrieveModel
      path: retrieve
    - type: endpoint
      key: deleteModel
      path: delete
    - type: object
      key: Model
      path: object
  - id: moderations
    title: Moderations
    description: 'Given some input text, outputs if the model classifies it as potentially harmful across several categories.


      Related guide: [Moderations](https://platform.openai.com/docs/guides/moderation)

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: createModeration
      path: create
    - type: object
      key: CreateModerationResponse
      path: object
  - id: assistants
    title: Assistants
    beta: true
    description: 'Build assistants that can call models and use tools to perform tasks.


      [Get started with the Assistants API](https://platform.openai.com/docs/assistants)

      '
    navigationGroup: assistants
    sections:
    - type: endpoint
      key: createAssistant
      path: createAssistant
    - type: endpoint
      key: listAssistants
      path: listAssistants
    - type: endpoint
      key: getAssistant
      path: getAssistant
    - type: endpoint
      key: modifyAssistant
      path: modifyAssistant
    - type: endpoint
      key: deleteAssistant
      path: deleteAssistant
    - type: object
      key: AssistantObject
      path: object
  - id: threads
    title: Threads
    beta: true
    description: 'Create threads that assistants can interact with.


      Related guide: [Assistants](https://platform.openai.com/docs/assistants/overview)

      '
    navigationGroup: assistants
    sections:
    - type: endpoint
      key: createThread
      path: createThread
    - type: endpoint
      key: getThread
      path: getThread
    - type: endpoint
      key: modifyThread
      path: modifyThread
    - type: endpoint
      key: deleteThread
      path: deleteThread
    - type: object
      key: ThreadObject
      path: object
  - id: messages
    title: Messages
    beta: true
    description: 'Create messages within threads


      Related guide: [Assistants](https://platform.openai.com/docs/assistants/overview)

      '
    navigationGroup: assistants
    sections:
    - type: endpoint
      key: createMessage
      path: createMessage
    - type: endpoint
      key: listMessages
      path: listMessages
    - type: endpoint
      key: getMessage
      path: getMessage
    - type: endpoint
      key: modifyMessage
      path: modifyMessage
    - type: endpoint
      key: deleteMessage
      path: deleteMessage
    - type: object
      key: MessageObject
      path: object
  - id: runs
    title: Runs
    beta: true
    description: 'Represents an execution run on a thread.


      Related guide: [Assistants](https://platform.openai.com/docs/assistants/overview)

      '
    navigationGroup: assistants
    sections:
    - type: endpoint
      key: createRun
      path: createRun
    - type: endpoint
      key: createThreadAndRun
      path: createThreadAndRun
    - type: endpoint
      key: listRuns
      path: listRuns
    - type: endpoint
      key: getRun
      path: getRun
    - type: endpoint
      key: modifyRun
      path: modifyRun
    - type: endpoint
      key: submitToolOuputsToRun
      path: submitToolOutputs
    - type: endpoint
      key: cancelRun
      path: cancelRun
    - type: object
      key: RunObject
      path: object
  - id: run-steps
    title: Run Steps
    beta: true
    description: 'Represents the steps (model and tool calls) taken during the run.


      Related guide: [Assistants](https://platform.openai.com/docs/assistants/overview)

      '
    navigationGroup: assistants
    sections:
    - type: endpoint
      key: listRunSteps
      path: listRunSteps
    - type: endpoint
      key: getRunStep
      path: getRunStep
    - type: object
      key: RunStepObject
      path: step-object
  - id: vector-stores
    title: Vector Stores
    beta: true
    description: 'Vector stores are used to store files for use by the `file_search` tool.


      Related guide: [File Search](https://platform.openai.com/docs/assistants/tools/file-search)

      '
    navigationGroup: assistants
    sections:
    - type: endpoint
      key: createVectorStore
      path: create
    - type: endpoint
      key: listVectorStores
      path: list
    - type: endpoint
      key: getVectorStore
      path: retrieve
    - type: endpoint
      key: modifyVectorStore
      path: modify
    - type: endpoint
      key: deleteVectorStore
      path: delete
    - type: object
      key: VectorStoreObject
      path: object
  - id: vector-stores-files
    title: Vector Store Files
    beta: true
    description: 'Vector store files represent files inside a vector store.


      Related guide: [File Search](https://platform.openai.com/docs/assistants/tools/file-search)

      '
    navigationGroup: assistants
    sections:
    - type: endpoint
      key: createVectorStoreFile
      path: createFile
    - type: endpoint
      key: listVectorStoreFiles
      path: listFiles
    - type: endpoint
      key: getVectorStoreFile
      path: getFile
    - type: endpoint
      key: deleteVectorStoreFile
      path: deleteFile
    - type: object
      key: VectorStoreFileObject
      path: file-object
  - id: vector-stores-file-batches
    title: Vector Store File Batches
    beta: true
    description: 'Vector store file batches represent operations to add multiple files to a vector store.


      Related guide: [File Search](https://platform.openai.com/docs/assistants/tools/file-search)

      '
    navigationGroup: assistants
    sections:
    - type: endpoint
      key: createVectorStoreFileBatch
      path: createBatch
    - type: endpoint
      key: getVectorStoreFileBatch
      path: getBatch
    - type: endpoint
      key: cancelVectorStoreFileBatch
      path: cancelBatch
    - type: endpoint
      key: listFilesInVectorStoreBatch
      path: listBatchFiles
    - type: object
      key: VectorStoreFileBatchObject
      path: batch-object
  - id: assistants-streaming
    title: Streaming
    beta: true
    description: 'Stream the result of executing a Run or resuming a Run after submitting tool outputs.


      You can stream events from the [Create Thread and Run](https://platform.openai.com/docs/api-reference/runs/createThreadAndRun),

      [Create Run](https://platform.openai.com/docs/api-reference/runs/createRun), and [Submit Tool Outputs](https://platform.openai.com/docs/api-reference/runs/submitToolOutputs)

      endpoints by passing `"stream": true`. The response will be a [Server-Sent events](https://html.spec.whatwg.org/multipage/server-sent-events.html#server-sent-events) stream.


      Our Node and Python SDKs provide helpful utilities to make streaming easy. Reference the

      [Assistants API quickstart](https://platform.openai.com/docs/assistants/overview) to learn more.

      '
    navigationGroup: assistants
    sections:
    - type: object
      key: MessageDeltaObject
      path: message-delta-object
    - type: object
      key: RunStepDeltaObject
      path: run-step-delta-object
    - type: object
      key: AssistantStreamEvent
      path: events
  - id: completions
    title: Completions
    legacy: true
    navigationGroup: legacy
    description: 'Given a prompt, the model will return one or more predicted completions along with the probabilities of alternative tokens at each position. Most developer should use our [Chat Completions API](https://platform.openai.com/docs/guides/text-generation/text-generation-models) to leverage our best and newest models.

      '
    sections:
    - type: endpoint
      key: createCompletion
      path: create
    - type: object
      key: CreateCompletionResponse
      path: object
